/* Style CSS  dla index.php oraz register.php */

body
{
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	background: linear-gradient(to bottom left, #e9f2fb 0%, #bcd7f5 100%);
	font-family: 'Open Sans', sans-serif;
}
footer
{
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 10px;
	margin-bottom: 20px;
}
a
{
	text-decoration: none;
	color: #0000e6;
	outline: none;
}
a:hover
{
	color: #ff0000;
}
a.link_black
{
	color: #000;
}
a.link_black:hover
{
	color: #0000e6;
}
.top_bar
{
	text-align: right;
	padding: 6px 10px 0px 0px;
	font-size: 16px;
}
#log_set
{
	font-family: 'Oxygen', sans-serif;
	outline: none;
	padding: 6px 10px;
	border: 1px solid #c4c4c4;
	border-radius: 6px;
	background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 50%, #f2f2f2 51%, #ffffff 100%);
	color: #8c8c8c;
	box-shadow: 0px 0px 10px #acbfd2;
}
#log_set:hover
{
	background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 50%, #d9d9d9 51%, #ffffff 100%);
	text-shadow: 0px 0px 3px #ffffff, 0px 0px 3px #ffffff;
	color: #333333;
}
.main_container
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/dust.png");
	border-radius: 0px;
	width: 700px;
	padding: 50px 100px;
	min-height: 400px;
	margin: 40px auto 20px auto;
	position: relative;
	box-shadow: 0px 0px 10px #7a99b8, 0px 0px 30px #acbfd2;
}
.quote
{
	font-family: 'Sriracha', cursive;
	width: 450px;
	margin: 10px auto 10px 0px; 
	padding: 25px;
	border-radius: 10px;
	font-style: italic;
	color: #545454;
	background-color: rgba(255, 255, 255, 0.5);
}
.quote_span
{
	display: block;
	text-align: right;
	padding-right: 30px;
}
.title_1
{
	font-family: 'Mouse Memoirs', sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	word-spacing: 8px;
	text-align: center;
	text-shadow: 0px 0px 3px #000099, 2px 1px 2px #000099;
	font-size: 52px;
	color: #ffd11a;
	margin-bottom: 30px;
}
.form_title
{
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 36px;
	color: #000;
}

/* ---FORMULARZ LOGOWANIA SIĘ--- */
.black_back
{
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.form_login_container
{
	width: 360px;
	background-color: #fff;
	position: absolute;
	top: -400px;
	margin: 100px auto;
	padding: 60px;
	position: relative;
}
#exit
{
	position: absolute;
	right: 14px;
	top: 14px;
	cursor: pointer;
}
#form_1 label
{
	width: 170px;
	display: inline-block;
}
#form_1 input[type=text], input[type=password]
{
	width: 160px;
	padding: 8px 4px;
	margin-bottom: 4px;
	border-radius: 6px;
	outline: none;
	border: 1px solid #999999;
}
#form_1 input[type=text]:focus, #form_1 input[type=password]:focus
{
	background-color: #ffffb3;
	border-color: #444444;
}
#form_1 input[type=submit]
{
	font-family: 'Oxygen', sans-serif;
	padding: 8px 20px;
	border-radius: 6px;
	border: 2px solid #9898cd;
	outline: none;
	background: linear-gradient(to top, #8080ff 0%, #d6d6f5 100%);
	font-size: 18px;
	color: #fff;
	display: block;
	margin: 5px auto;
}
#form_1 input[type=submit]:hover
{
	background: linear-gradient(to top, #7171f4 0%, #e6e6e6 100%);
}
.red_input
{
	border-color: red !important;
	background-color: #ffe6e6;
}
.red_error
{
	color: red;
	font-size: 14px;
}

/* ---FORMULARZ REJESTRACJI NOWEGO UŻYTKOWNIKA--- */
.form_register_container
{
	background-color: #f8f8f8;
	border: 6px solid #ff5c33;
	border-radius: 40px;
	width: 370px;
	padding: 60px;
	margin: 50px auto;
}
#form_2 label
{
	width: 100%;
	display: inline-block;
}
#form_2 input[type=text], #form_2 input[type=password]
{
	width: 350px;
	padding: 10px 8px;
	margin-bottom: 4px;
	border-radius: 6px;
	outline: none;
	border: 1px solid #999999;
	font-size: 18px;
}
#form_2 input[type=text]:focus, #form_2 input[type=password]:focus
{
	background-color: #ffffb3;
	border-color: #444444;
}
#form_2 input[type=submit]
{
	font-family: 'Oxygen', sans-serif;
	padding: 14px;
	border-radius: 6px;
	border: 2px solid #9898cd;
	outline: none;
	background: linear-gradient(to top, #8080ff 0%, #d6d6f5 100%);
	font-size: 19px;
	font-weight: 700;
	color: #fff;
	display: block;
	margin: 5px auto;
	width: 100%;
	letter-spacing: 1px;
}
#form_2 input[type=submit]:hover
{
	background: linear-gradient(to top, #ff3300 0%, #ffc2b3 100%);
	border: 2px solid #ff704d;
}
a.link_grey
{
	color: #a6a6a6;
	font-size: 16px;
}
a.link_grey:hover
{
	color: #4d4d4d;
}

/* ---ALERT -krótka wiadomość tekstowa --- */
.alert
{
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0px;
	left: 0px;
}
.alert_container
{
	padding: 40px 120px;
	margin-top: 35vh;
	background: linear-gradient(to bottom, #d9d9d9 0%, #ffffff 24%, #ffffff 75%, #bfbfbf 100%);
	text-align: center;
	font-size: 20px;
}

/* style obowiązujące jedynie dla okna przeglądarki o rozdziejczości 900px i miejszych */
@media screen and (max-width: 900px)
{
	.main_container
	{
		width: 460px;
		padding: 40px 80px;
		margin: 40px auto;
	}
	.quote
	{
		width: 400px;
	}
	.alert_container
	{
		padding: 40px 80px;
		margin-top: 30vh;
		font-size: 18px;
	}
}
/* style obowiązujące jedynie dla okna przeglądarki o rozdziejczości 640px i miejszych */
@media screen and (max-width: 640px)
{
	body
	{
		font-size: 16px;
	}
	.main_container
	{
		width: 420px;
		padding: 30px 60px;
		margin: 20px auto;
	}
	.title_1
	{
		font-size: 46px;
	}
	.form_title
	{
		font-size: 42px;
	}

	.alert_container
	{
		padding: 30px 60px;
		margin-top: 25vh;
	}
}